:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-image {
  width: 50%;
}
/*Clase del div del logo de AP*/

/*Clase de img del logo de AP*/
.arg-prog {
  width: 20%;
  height: 100%;
}

#sideNav {
  background-color: #a9eaf0 !important;
  margin-bottom: 0px;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.btn {
  background-color: transparent;
  border-color: #46a9af;
  color: #208b9e;
}

.btn-edit {
  margin-right: 1vw;
}

.mat-card {
  border-radius: 32px;
  margin: 10px 10 px;
  padding: 20px;
  border-color: turquoise;
}
.mat-card div {
  margin: 10px 10px;
}

#header {
  margin: 50px;
  margin-top: 10px;
  border-color: none;
  padding-bottom: 0px;
}

.responsive-banner {
  margin: -1px -15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  overflow: hidden;
  height: 18vw;
  z-index: -1;
}

img.redimension {
  position: relative;
  top: -14vw;
  width: 100%;
}

#profile_image {
  overflow: hidden;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  border: solid 3px white;
  margin-top: -8.6vw;
  margin-left: 2vw;
  z-index: 1;
}

.fotodeperfil {
  position: relative;
  top: -3vw;
  left: -2vw;
  width: 19vw;
  height: auto;
}

h1 {
  font-size: calc(1.725rem + 3.7vw);
}

h2 {
  font-size: calc(1.325rem + 2.9vw);
}

h3,
.h3 {
  font-size: calc(1.325rem + 0.9vw);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
  text-transform: uppercase;
}

p {
  font-size: calc(1.1rem + 0.3vw) !important;
}

a {
  color: #47bcc7;
  text-decoration: underline;
}

.text-primary {
  --bs-text-opacity: 1;
  color: #47bcc7 !important;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(1rem + 0.7vw);
}

section.resume-section {
  padding: 1vw;
  margin-bottom: 1vw;
}

@media (max-width: 768px) {
  .nav-image {
    width: 33%;
    padding: 0;
  }

  .arg-prog {
    width: 80%;
  }
}

hr:not([size]) {
  height: 3px;
}

.m-0 {
  margin: 0 !important;
}

hr {
  margin: 1rem 0;
  color: #a9eaf0;
  background-color: currentColor;
  border: 0;
  opacity: 0.5;
}
